@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* 
    font-family: "Oswald", sans-serif;
    font-family: "Source Sans 3", sans-serif;
*/

*{
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    text-decoration: none;
    background-color: rgb(248, 247, 247);
}


/*  nav */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li{
    display: inline-block;
}
nav li a {
    margin: 5px 15px 5px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background-color: rgb(16, 79, 156);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgb(88, 114, 145);
}

nav a img{
    height: auto;
    width: 200px;
}

/* main general */

main h1 {
    font-family: "Oswald", sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

footer {
    background-color:rgb(194, 229, 230);
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    display: flex;
    margin: 35px;
    font-size: 50px;
    background-color:rgb(16, 79, 156);
    color: aliceblue;
    padding: 10px 50px 10px 50px;
    min-width: 350px;
}


.my-carousel {
    margin: 25px;
    height: auto;
    width: 1250px;
}

/* Section */

.celulares {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-wrap: wrap;
    align-content: space-around;
    align-items: center; */
    /* padding: 10px;
    margin: 25px; */
}

.article {
    padding: 20px;
    margin: 25px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    box-shadow: 2px 2px 15px 2px rgba(88, 114, 145, 0.295);
    border-radius: 12px;
    text-decoration: none;
}

.article:hover{
    transform: scale(1.1);
}

.article button {
    padding: 6px 25px 6px 25px;
    border-radius: 20px;
    background-color: rgb(16, 79, 156);
    margin: 5px;
    color: aliceblue;
}

.article p {
    font-size: 20px;
    font-style:italic;
    font-weight: 600;
    text-decoration: none;
}

.article h3 {
    font-size: 25px;
    color: rgb(16, 79, 156);
}

.cel-sect {
    border: black 3px;
    font-size: x-large;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
}

.cel-sect div {
    max-width: 450px;
}

.cel-sect div img {
    max-height: auto;
}

.marca-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}
.marca-select div {
    min-width: 300px;
}

.marca-select img {
    padding: 5px;
    margin: 5px;
    max-width: auto;
    max-height: 150px;
}
.marca-select a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgb(14, 13, 13);
}

.marcas-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ----- RESPONSIVE ----- */
/* MOBILE LAST => max-width */

@media (max-width:768px) {

    h2 {
        margin: 10px;
        font-size: 20px;
        background-color:rgb(16, 79, 156);
        color: aliceblue;
        padding: 10px 50px 10px 50px;
        min-width: 380px;
    }

    .cel-sect {
        border: black 3px;
        font-size: x-large;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
    }

    .marca-select{
        max-width: 300px;
    }
}


